body {
  background-color: rgb(233, 233, 233);
}

label {
  margin-bottom: 0px;
}

#langMenu {
  text-align: right;
  padding: 0 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

#cOptional {
  font-weight: normal;
  font-size: smaller;
}

input[type="text"],
input[type="password"] {
  height: 30px;
  padding: 3px 5px;
}

textarea {
  padding: 3px 5px;
  font-family: Arial;
  font-size: 12px;
  line-height: 14px;
  resize: vertical;
}

textarea,
input {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #829d5d;
}

a:hover {
  cursor: pointer;
}

.selected, .bold {
  font-weight: bold;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
}

.navbar-inverse {
  border-radius: 0px;
  padding: 6px;
  color: #eee;
  background-color: #5d5d5d;
}

#modes button{
  margin-right: 5px;
}

button {
  color: white;
  background-color: #656565;
}

.button {
  background-color: #d7d7d7;
}

button.button-primary {
  border-color: #0599c8;
}

button.button-primary:hover {
  border-color: rgb(5, 121, 156);
}

.button.button-page {
  color: #fff;
  background-color: rgb(31, 155, 0);
  border-color: rgb(31, 155, 0);
}

.button.button-page-red {
  color: #fff;
  background-color: rgb(216, 6, 6);
  border-color: rgb(155, 0, 0);
}

img {
  vertical-align: top;
}

.validationError {
  font-size: small;
  color: rgb(216, 6, 6);
  line-height: 1.2;
  vertical-align: top;
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.cameraInfo {
  font-size: small;
  color: rgb(56, 123, 248);
  line-height: 1.2;
  vertical-align: top;
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

footer {
  font-family: Arial;
  font-size: small;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

@media print {
  body {
    background-color: white;
  }

  .navbar,
  .result-controls,
  .printHide,
  footer {
    display: none;
  }

  #printQr {
    width: 100%;
    text-align: center;
  }

  #qrPrintDate {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

@page {
  margin-top: 1in;
  margin-left: 0.5in;
  margin-right: 0.5in;
}

#saveOverlay {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -150px;
  background-color: rgb(238, 245, 238);
  border-radius: 4px;
  border: 2px solid rgb(153, 153, 153);
  box-sizing: border-box;
  padding: 0px;
  display: none;
}

.resave {
  margin-top: 30px;
}

#xtQrAreaWithDetails,
#xtQrImageOnly {
  display: inline;
  margin-left: 8px;
}

#xtSaveDialogCaption {
  font-weight: bold;
  display: block;
  width: 100%;
  margin-top: 0px;
  background-color: #5d5d5d;
  text-align: center;
  color: rgb(231, 231, 231);
  line-height: 200%;
}

.saveOverlayBody {
  padding: 18px;
}

.securityCheck {
  color: #ca1a1a;
}

#xtNotOffline {
  font-weight: bold;
  display: none;
  margin: 30px auto;
  max-width: 500px;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}

#xtHeadTitle {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.readerFloat {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  width: 100%;
  height: 100%;
} 

#reader {
  margin:auto;
  width: 100%;
  margin-bottom: 15px;
}

video {
  width: 100%;
}

.qr-input-layer {
  display: block;
  background-color: rgb(233, 233, 233);
  width: 90%;
  word-wrap: break-word;
  margin: 20px auto;
  border: solid rgb(153, 153, 153) 2px;
  padding: 0.8rem;
}

@media (min-width: 550px)
{
  #reader {
    width: 70%;
  }

  video {
    width: 100%;
  }

  .qr-input-layer {
    width: 70%;
  }
}

.qr-input-layer .validationError {
  padding: 1rem;
}

.decryptFloat {
  margin-top: -6px;
  text-align: right;
}

.scanQr {
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  background-color: white;
  margin-bottom: 3px;
}

td div {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  display: inline-block;
  word-break: break-all;
}

td {
  padding: 8px;
}

table {
  margin-bottom: 100px; /* fit QR under */
  font-family: "Courier New";
}

iframe {
  width: 100%;
  /* background-color: white; */
  border: none;
}

#ver {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: small;
}

.page {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}

.qa {
  border-top: 1px solid #d8d7d7;
}

.q {
  margin-top: 15px;
  margin-bottom: 7px;
}

.a {
  margin-bottom: 15px;
  padding-left: 5px;
}

a:hover {
  cursor: pointer;
}

.command {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background-color: #f3f3f3;
  padding: 4px 14px;
  display: inline-block;
  margin-bottom: 10px;
}

.qa-more {
  margin-left: 30px;
  margin-bottom: 15px;
}

form {
  margin-bottom: 0px;
}

.donateQr:hover {
  background-color: white;
}

td img {
  position: absolute;
}

.m-pull-left {
  float: left;
  margin-right: 15px;
}

.m-pull-right {
  float: left;
}

/* Specific to min sizes */
@media (min-width: 450px) {
  .m-pull-right {
    float: right;
  }
}


/*** Coin sprites - thanks to https://spritegen.website-performance.org/ ***/
.sprite {
  background-image: url(../images/coin-logos.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-aeon {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}

.sprite-bch {
  width: 32px;
  height: 32px;
  background-position: -47px -5px;
}

.sprite-btc {
  width: 32px;
  height: 32px;
  background-position: -89px -5px;
}

.sprite-btcz {
  width: 32px;
  height: 32px;
  background-position: -131px -5px;
}

.sprite-btg {
  width: 32px;
  height: 32px;
  background-position: -5px -47px;
}

.sprite-dash {
  width: 32px;
  height: 32px;
  background-position: -47px -47px;
}

.sprite-dgb {
  width: 32px;
  height: 32px;
  background-position: -89px -47px;
}

.sprite-doge {
  width: 32px;
  height: 32px;
  background-position: -131px -47px;
}

.sprite-ltc {
  width: 32px;
  height: 32px;
  background-position: -5px -89px;
}

.sprite-pivx {
  width: 32px;
  height: 32px;
  background-position: -47px -89px;
}

.sprite-strax {
  width: 32px;
  height: 32px;
  background-position: -89px -89px;
}

.sprite-sys {
  width: 32px;
  height: 32px;
  background-position: -131px -89px;
}

.sprite-xlm {
  width: 32px;
  height: 32px;
  background-position: -5px -131px;
}

.sprite-xmr {
  width: 32px;
  height: 32px;
  background-position: -47px -131px;
}

.sprite-xvg {
  width: 32px;
  height: 32px;
  background-position: -89px -131px;
}

.sprite-zec {
  width: 32px;
  height: 32px;
  background-position: -131px -131px;
}

/*** End Coin Sprites ***/
